{% extends "semi_restful_users/index_base.html" %}

{% block meta %}
<title>Edit User {{user.id}}: {{user.first_name}} {{user.last_name}}</title>
<meta name="description" content="Edit User {{user.id}}: {{user.first_name}} {{user.last_name}}" />
{% endblock %}

{% block body %}
<div class="row p-4 justify-content-center"><h1>Edit User {{user.id}}: {{user.first_name}} {{user.last_name}}</h1></div>
{% include "semi_restful_users/flash_msg.html" %}
<div class="row justify-content-center">
	<div class="col-6 bg-secondary p-4 rounded">
		<div class="row p-2 justify-content-center">
			<p class="col-4">First Name:</p>
			<p class="col-8">{{user.first_name}}</p>
		</div>
		<div class="row p-2 justify-content-center">
			<p class="col-4">Last Name:</p>
			<p class="col-8">{{user.last_name}}</p>
		</div>
		<div class="row p-2 justify-content-center">
			<p class="col-4">Email:</p>
			<p class="col-8">{{user.email}}</p>
		</div>
	</div>
</div>
<div class="row py-4 justify-content-center">
	<div class="col-6 row justify-content-end">
		<a class="col-auto p-2 mr-3 btn btn-secondary" href="/users/{{user.id}}/edit">Edit User</a>
		<a class="col-auto p-2 mr-3 btn btn-secondary" href="/users/{{user.id}}/destroy">Delete</a>
		<a class="col-auto p-2 mr-3 btn btn-secondary" href="/users">Go Back</a>
	</div>
</div>
{% endblock %}