<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Title</title>
		<meta name="description" content="Description" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous"
		/>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
			integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
			crossorigin="anonymous"
		></script>
		{% load static %}
		<link rel="stylesheet" href="{% static 'ninja_gold/css/style.css' %}" />
		<script src="{% static 'ninja_gold/js/script.js' %}"></script>
	</head>
	<body class="bg-dark text-light">
		<div class="container">
			<div class="row my-4 ml-none">
				<div class="col-3 pt-3 row bg-secondary rounded">
					<p class="col-6 py-1">Your <span class="text-warning font-weight-bold">Gold</span>:</p>
					<p class="col-6 py-1 bg-light rounded text-dark border border-primary">{{ request.session.current_gold }}</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<form class="col px-4 py-3 mr-3 bg-secondary rounded" action="/find_gold" method="post">
					{% csrf_token %} <input type="hidden" name="location" value="farm" />
					<p class="mt-3 h3 text-center">Farm</p>
					<p class="text-center">(earns 10-20 <span class="text-warning font-weight-bold">Gold</span>)</p>
					<div class="form-row justify-content-center mt-3"><input class="col-auto p-2 mt-3 btn btn-dark justify-self-center" type="submit" value="Find Gold!" /></div>
				</form>
				<form class="col px-4 py-3 mx-3 bg-secondary rounded" action="/find_gold" method="post">
					{% csrf_token %} <input type="hidden" name="location" value="cave" />
					<p class="mt-3 h3 text-center">Cave</p>
					<p class="text-center">(earns 5-10 <span class="text-warning font-weight-bold">Gold</span>)</p>
					<div class="form-row justify-content-center mt-3"><input class="col-auto p-2 mt-3 btn btn-dark justify-self-center" type="submit" value="Find Gold!" /></div>
				</form>
				<form class="col px-4 py-3 mx-3 bg-secondary rounded" action="/find_gold" method="post">
					{% csrf_token %} <input type="hidden" name="location" value="house" />
					<p class="mt-3 h3 text-center">House</p>
					<p class="text-center">(earns 2-5 <span class="text-warning font-weight-bold">Gold</span>)</p>
					<div class="form-row justify-content-center mt-3"><input class="col-auto p-2 mt-3 btn btn-dark justify-self-center" type="submit" value="Find Gold!" /></div>
				</form>
				<form class="col px-4 py-3 ml-3 bg-secondary rounded" action="/find_gold" method="post">
					{% csrf_token %} <input type="hidden" name="location" value="casino" />
					<p class="mt-3 h3 text-center">Casino</p>
					<p class="text-center">(earns/loses 0-50 <span class="text-warning font-weight-bold">Gold</span>)</p>
					<div class="form-row justify-content-center mt-3"><input class="col-auto p-2 mt-3 btn btn-dark justify-self-center" type="submit" value="Find Gold!" /></div>
				</form>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 mt-4 py-1 px-3 bg-light rounded text-dark border border-primary" id="scroll-bottom">
					{% for action in request.session.history %}
					<p class="text-{% if action.gold_earned >= 0 %}success{% else %}danger{% endif %}">
						You went to the {{ action.location }} and {% if action.gold_earned >= 0 %} earned {% else %} lost {% endif %} {{ action.gold_earned }}
						<span class="bg-warning px-1 rounded text-dark font-weight-bold">Gold</span>!
					</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</body>
</html>
