<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Email Validation Assignment</title>
		<meta name="description" content="Email Validation Assignment">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</head>
	<body class="bg-dark text-light">
		<div class="container">
			<div class="mt-4 row justify-content-center">
				<h2>Email Validation</h2>
				{% if emails|length >= 1 %}
					<div class="container m-4">
						<div class="row justify-content-center">
							<p class="ml-2 px-2 py-1 rounded bg-success border border-light">The email address you entered ({{emails[0]["email"]}}) is a valid email address! Thank you!</p>
						</div>
					</div>
				{% endif %}
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Email</th>
							<th scope="col">Entered On</th>
						</tr>
					</thead>
					<tbody>
						{% if emails|length < 1 %}
							<tr><td>No emails Found.</td></tr>
						{% else %}
							{% for email in emails %}
							<tr>
								<td>{{email["email"]}}</td>
								<td>{{email["created_at"]}}</td>
							</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>