<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Checkerboard Assignment</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			body {
				background-color: LightBlue;
			}
			table {
				border-collapse: collapse;
			}
			* {
				margin: 0;
				padding: 0;
			}
			.box-container {
				display: block;
				border: 5px solid black;
				margin: 40px auto;
				width: 960px;
				padding: 0;
			}
			{% set size = 960/x %}
			.box {
				display: inline-block;
				width: {{ size }}px;
				height: {{ size }}px;
				margin: 0;
			}
			.box-a {
				background-color: tan;
			}
			.box-b {
				background-color: brown;
			}
			</style>
	</head>
	<body>
		<table class="box-container">
			{% for row in range(0,y) %}
			<tr>
				{% for col in range(0,x) %}
				<td class="box {% if ((row+col)%2)==0 %}box-a{% else %}box-b{% endif %}"></td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</body>
</html>