<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Registration Form</title>
		<meta name="description" content="Registration Form">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</head>
	<body class="bg-dark">
		<div class="container text-light">
			<div class="row p-4">
				<div class="col-5 mr-4 text-center">
					<h1>Inbox</h1>
				</div>
				<div class="col-6 text-center">
					<h1>Send</h1>
				</div>
			</div>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					<div class="container">
					{% for category, message in messages %}
						<div class="row justify-content-center">
							<p class="ml-2 px-2 py-1 rounded bg-{{category}} border border-light">{{message}}</p>
						</div>
					{% endfor %}
					</div>
				{% endif %}
			{% endwith %}
			<div class="row">
				<div class="col-5 mr-4">
					<div class="row justify-content-center">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th class="text-center" scope="col">Message</th>
									<th class="text-center" scope="col">At</th>
								</tr>
							</thead>
							<tbody>
								{% if in_messages|length < 1 %}
									<tr><td>No Messages...</td></tr>
								{% else %}
									{% for in_message in in_messages %}
									<tr>
										<td>{{in_message["from_user.first_name"]}}</td>
										<td class="text-center">{{in_message["content"]}}</td>
										<td class="text-center">{{in_message["created_at"]}}</td>
									</tr>
									{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-6">
					<div class="row justify-content-center">
							<table class="table">
									<tbody>
										{% if other_users|length < 1 %}
											<tr><td>No Other Users...</td></tr>
										{% else %}
											{% for other_user in other_users %}
											<tr>
												<td>
													<form class="col-12 bg-secondary px-4 py-2 rounded" action="/send" method="post">
														<div class="form-row p-2">
															<label class="col-2 text-center mt-3" for="content">{{other_user['first_name']}}</label>
															<textarea class="col-7 form-control" id="content" name="content"></textarea>
															<input type="hidden" id="to_id" name="to_id" value="{{other_user['user_id']}}">
															<input class="col-2 p-2 ml-3 btn btn-dark" type="submit" value="Send">
														</div>
													</form>
												</td>
											</tr>
											{% endfor %}
										{% endif %}
									</tbody>
								</table>
								<!-- <form class="col-10 bg-secondary p-4 rounded" action="/login" method="post">
							<div class="form-row p-2 justify-content-center">
								<label class="col-sm-4 col-form-label" for="email">Email:</label>
								<input class="col-sm-8 form-control" type="text" name="email">
							</div>
							<div class="form-row p-2 justify-content-center">
								<label class="col-sm-4 col-form-label" for="password">Password:</label>
								<input class="col-sm-8 form-control" type="password" name="password">
							</div>
							<div class="form-row justify-content-end">
								<input class="col-auto p-2 mr-3 btn btn-dark" type="submit" value="Log In">
							</div>
						</form> -->
					</div>
				</div>
			</div>
			<div class="container justify-content-end p-4">
					<form action="/logout" method="post">
						<div class="form-row justify-content-end">
							<input class="col-auto p-2 mr-4 btn btn-secondary" type="submit" value="Log Out">
						</div>
					</form>
				</div>
		</div>
	</body>
</html>